body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #F2EBE9;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background-color: #243A73;
  color: #ffffff;
  margin: 0;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: dotted #F77E21 6px;
}

ul {
  padding: 0;
  margin: 0;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header li {
  float: left;
  padding: 0 20px 0 20px;
  list-style: none;
}

header #logo-image-id {
  float: left;
}

header #logo {
  float: left;
  margin-left: 10px;
}

header #logo-image-id .logo-image {
  width: 75px;
  margin: 0;
  padding: 0 5px 0 5px;
}

header #logo h1 {
  margin: 0;
}

header a:hover {
  color: #FEF9A7;
  font-weight: bold;
}

header .highlight, header .current a {
  color: #F77E21;
  font-weight: bold;
}

.showcase {
  min-height: 550px;
  background: url("fantasy-image.jpg") no-repeat -200px;
  text-align: center;
  color: #ffffff;
}

.showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

.showcase p {
  font-size: 20px;
}

.otherbooks .books {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.otherbooks .books img {
  width: 90px;
}

.title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.newsletter {
  padding: 15px;
  color: #ffffff;
  /*white*/
  background: #475963;
}

.newsletter h1 {
  float: left;
}

.newsletter form {
  float: right;
  margin-top: 15px;
}

.newsletter button a {
  text-decoration: none;
  color: #ffffff;
}

.newsletter button a:hover {
  color: #FEF9A7;
  font-weight: bold;
}

.button1 {
  height: 38px;
  background: #F77E21;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

footer {
  padding: 20px;
  color: #ffffff;
  background-color: #F77E21;
  text-align: center;
}

.aboutauthor {
  background: #475963;
  color: #ffffff;
}

.aboutauthor p {
  float: right;
  width: 45%;
  padding: 10px;
  text-align: left;
}

.aboutauthor img {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.chapters ul a {
  text-decoration: none;
  color: #F77E21;
  font-family: Arial;
  font-weight: bold;
  font-size: 50px;
}

.Chapters {
  background: white;
}

.Chapters ul {
  list-style-type: none;
}

.chapters a:hover {
  color: black;
  font-weight: bold;
}

.chapters .A {
  float: left;
}

.chapters .B {
  float: right;
}

.chapters .A .imageA {
  float: left;
  background: #F2EBE9;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75px;
}

.chapters .A li {
  float: right;
  margin-left: 5px;
}

.chapters .B .imageB {
  float: left;
  background: #F2EBE9;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 75px;
}

.chapters .B li {
  float: right;
  margin-left: 5px;
}

.chapters img {
  border-radius: 50%;
}

/* BUttond code!!!*/
.nextchapter {
  text-decoration: none;
  color: #F77E21;
  text-align: center;
}

.btn {
  float: right;
  background: #243A73;
  border: none;
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
}

.nextchapter:hover {
  color: white;
  font-weight: bold;
}

/*ON Small screens*/
@media (max-width: 768px) {

  header #logo-image-id,  #logo,
  header nav,
  header nav li,
  .newsletter h1, .newsletter form,
  .otherbooks .books, .aboutauthor p, .aboutauthor img{
    float: none;
    text-align: center;
    width: 100%;
  }

  .newsletter button {
    display: block;
    width: 100%;
    font-size: 20px;
  }

  }
